*{margin:0;padding:0;border:0;}
body {
 font-family: arial, ??, serif;
 font-size:12px;
}
#nav {
 width:180px;
    line-height: 24px; 
 list-style-type: none;
 text-align:left;
}
/*==================1st level menu===================*/
#nav a {
 width: 500px; 
 display: block;
 padding-left:5px;
}
#nav li {
 background:#CCC;
 border-bottom:#FFF 1px solid;
 float:left;
}
#nav li a:hover{
 background:#CC0000;
}
#nav a:link  {
 color:#666; text-decoration:none;
}
#nav a:visited  {
 color:#666;text-decoration:none;
}
#nav a:hover  {
 color:#FFF;text-decoration:none;font-weight:bold;
}
/*==================2nd level menu===================*/
#nav li ul {
 list-style:none;
 text-align:left;
}
#nav li ul li{ 
 background: #EBEBEB;
}
#nav li ul a{
         padding-left:20px;
         width:500px;
}
#nav li ul a:link  {
 color:#666; text-decoration:none;
}
#nav li ul a:visited  {
 color:#666;text-decoration:none;
}
#nav li ul a:hover {
 color:#F3F3F3;
 text-decoration:none;
 font-weight:normal;
 background:#CC0000;
}
/*==============================*/
#nav li:hover ul {
 left: auto;
}
#nav li.sfhover ul {
 left: auto;
}
#content {
 clear: left; 
}
#nav ul.collapsed {
 display: none;
}
#PARENT{
 width:180px;
}
*#PARENT{
 width:100%;
}